<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/lib/light.css">
  <link rel="stylesheet" href="/lib/common.css">
  <link rel="stylesheet" href="/lib/ui.css">
</head>
<body>
  <header>
    <!--@navigator-->
<nav class="pink-bg">
  <ul class="flex-row">
      <li class="">
        <a href="/" onclick="returnHome();;return false;">| 记录</a>
      </li>
      <li class="mobile-only">
        <a href="/about.html" onclick="renderData('/about.html');;return false;">| 关于</a>
      </li>
  </ul>
</nav>
<!--@navigator-end-->
  </header>

  <main class="flex-row">
    <div id="left-panel" class="flex-column pink-bg">
        <!--@mini-tree-->
<div id="tree-list" style="display: none;">
  <ul>
    <li class="note-list">
      <div class="img-container">
        <img src="/image/note/2021/210422.jpg">
      </div>

      <article>
        现在感觉很幸福，但是又感觉这是我的懦弱
          <a href="/note/2021/life-thought.html" title="活着没什么意义，但是挺有意思" onclick="renderData(this);return false;">Read More</a>
        </p>
      </article>
    </li>
    <li class="note-list">
      <div class="img-container">
        <img src="/image/note/2021/saen.jpg">
      </div>

      <article>
        关于构建本站的一些细节，以及metalsmith挺好的
          <a href="/note/2021/website-metalsmith.html" title="关于构建本站的一些话" onclick="renderData(this);return false;">Read More</a>
        </p>
      </article>
    </li>
  </ul>

  <div>
    <span>Load More...</span>
  </div>
</div>
<!--@mini-tree-end-->
      </ul>
      <article id="content" style="display: none;"></article>
    </div>
    <div id="right-panel" class="pink-bg flex-grow">
      <h2>My Info</h2>
      <div class="avatar">
        <img src="https://avatars.githubusercontent.com/u/7233171?s=256">
      </div>
    </div>
  </main>
  <script src="lib/script.js"></script>
  <script>
    document.querySelector('#tree-list').style.display = 'block';
  </script>
  <div style="display: none;" id="temp-container"></div>

  
  <!--@footer-->
<footer class="flex-row">
    <a href="https://nnnewb.github.io/blog/" target="_blank">weakptr's 笔记</a>
    <a href="https://sata-nya.com" target="_blank">Sata-Nya</a>
    <a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备2021092731号 ©2021</a>
    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030702004086" target="_blank">粤公网安备 44030702004086号</a>
</footer>
<!--@footer-end-->
</body>
</html>