{{#each years}}
  <li class="flex-column">
    <h3>{{this.year}}</h3>
    <ul>
      {{#each notes}}
      <li class="note-list">
        <div class="img-container">
          {{#if this.banner}}
          <img src="/image/210422.jpg">
          {{/if}}
        </div>

        <article>
          {{this.content}}
            <a href="{{this.target}}" title="{{this.title}}" onclick="renderData(this);return false;">Read More</a>
          </p>
        </article>
        {{/each}}
      </li>
    </ul>
  </li>
{{/each}}